/* caratteristiche generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: block;
  clear:both;
}

body{
  width: 85%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.color-grey1{
  color: #7f7f7f;
}

/* end caratteristiche generali */

/* sezione titolo */
.titolo{
  margin-bottom: 50px;
}

.titolo img{
  height: 80px;
  padding-right: 10px;
  border-right: 1px solid black;
  margin-bottom: 30px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

nav a{
  text-decoration: none;
}

/* end sezione titolo */

/* senzione hero */

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  border-radius: 30px;
}

.banner{
  position: relative;
  margin-bottom: 50px;
  border-radius: 30px;
}

.banner img{
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 30px;
}

.text-banner{
  width: 40%;
  position: absolute;
  bottom: 15%;
  left: 5%;
  color: white;
}

.text-banner h3{
  font-size: 30px;
}


/* end senzione hero */

/* sezione sottotitolo */
.title-section{
  margin-bottom: 40px;
}

.title-section h2{
  font-size: 50px;
}

.title-section p{
  font-size: 20px;
}
/* end sezione sottotitolo */

/* sezione colonne */
.row{
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.col-lat{
  width: 18%;
  float: left;
  position: relative;
}
.col-cent{
  position: relative;
  width: 62%;
  float: left;
  margin: 0 1%;
}

.col-lat img{
  width: 100%;
  height: 300px;;
  object-fit: cover;
  position: relative;
}
.col-cent img{
  width: 100%;
  height: 300px;;
  object-fit: cover;
  position: relative;
}

.img-box{
  position: relative;
  margin-bottom: 20px;
}

.row h5{
  font-size: 20px;
  color: #46494c;
  margin-bottom: 10px;
}

.row p{
  color: #7f7f7f;
}

/* end sezione colonne */

footer{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

footer span{
  font-size: 30px;
  color: red;
}
