/* caratteristiche generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: block;
  clear:both;
}

body{
  width: 85%;
  margin: auto;
}
/* end caratteristiche generali */

/* sezione titolo */
.titolo{
  margin-bottom: 10px;
}

.titolo img{
  height: 80px;
  padding-right: 10px;
  border-right: 1px solid black;
  margin-bottom: 30px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

/* end sezione titolo */

/* senzione hero */

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.banner{
  position: relative;
  background-color: #f9d89c;
  margin-bottom: 10px;
}

.banner img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.text-banner{
  width: 40%;
  position: absolute;
  bottom: 15%;
  left: 5%;
}

.text-banner h3{
  font-size: 30px;
}


/* end senzione hero */

/* sezione sottotitolo */
section{
  background-color: #588da8;
}

.titolo-section{
  height: 60px;
  background-color: #aacfcf;
  margin-bottom: 10px;
}
/* end sezione sottotitolo */

/* sezione colonne */
.row{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.col-1{
  width: 23%;
  height: 400px;
  background-color: #aacfcf;
  float: left;
}
.col-2{
  width: 52%;
  height: 400px;
  background-color: #aacfcf;
  float: left;
  margin: 0 1%;
}
.col-3{
  width: 23%;
  height: 400px;
  background-color: #aacfcf;
  float: left;
}
/* end sezione colonne */

footer{
  height: 40px;
  background-color: #8b5e83;
}
